In [223]:
# EDI COMPILER

In [224]:
import pandas as pd
import numpy as np

In [225]:
with open(text_name, "r") as f:
    content = f.readlines()
modified2 = []
for line in content :
    if line[-1] =="\n":
        modified2.append(line[:-1])
    else:
        modified2.append(line)
print(modified2)

['ISA*00*          *00*          *12*6044358223FCD  *12*6474064717     *220430*2300*U*00401*000000029*0*P*>', 'GS*PD*6044358223FCD*6474064717*20220430*2300*8*X*004010', 'ST*852*0001', 'XQ*H*20220424*20220430', 'N1*DU*BESTBUY CANADA LTD.', 'LIN**BP*15569529*UP*840102700954*VP*NC04-0070', 'ZA*QS', 'SDQ*EA**0900*3', 'LIN**BP*15662179*UP*840102703511*VP*NL45-0800WT120E26-3PK', 'ZA*QS', 'SDQ*EA**0904*1', 'ZA*QS', 'SDQ*EA**0977*1', 'ZA*QS', 'SDQ*EA**0942*1', 'ZA*QS', 'SDQ*EA**0900*1', 'ZA*QS', 'SDQ*EA**0998*1', 'ZA*QS', 'SDQ*EA**0669*1', 'ZA*QS', 'SDQ*EA**0995*1', 'ZA*QS', 'SDQ*EA**0938*2', 'ZA*QU', 'SDQ*EA**0938*-2', 'ZA*QS', 'SDQ*EA**0975*2', 'ZA*QS', 'SDQ*EA**0982*1', 'ZA*QS', 'SDQ*EA**0631*1', 'ZA*QS', 'SDQ*EA**0926*1', 'ZA*QS', 'SDQ*EA**0013*1', 'ZA*QS', 'SDQ*EA**0946*1', 'ZA*QS', 'SDQ*EA**0980*1', 'ZA*QS', 'SDQ*EA**0705*1', 'ZA*QS', 'SDQ*EA**0955*1', 'ZA*QS', 'SDQ*EA**0909*1', 'ZA*QS', 'SDQ*EA**0912*1', 'ZA*QU', 'SDQ*EA**0741*-1', 'LIN**BP*15662180*UP*840102701517*VP*NL45-0800WT120E26', 'ZA*QS', 'SDQ*EA**0912*1', 'ZA*QS', 'SDQ*EA**0900*3', 'ZA*QS', 'SDQ*EA**0749*1', 'ZA*QS', 'SDQ*EA**0952*1', 'ZA*QS', 'SDQ*EA**0948*2', 'ZA*QS', 'SDQ*EA**0651*1', 'ZA*QU', 'SDQ*EA**0979*-1', 'ZA*QS', 'SDQ*EA**0933*2', 'ZA*QS', 'SDQ*EA**0909*3', 'ZA*QS', 'SDQ*EA**0631*2', 'ZA*QS', 'SDQ*EA**0658*2', 'ZA*QS', 'SDQ*EA**0961*2', 'ZA*QS', 'SDQ*EA**0964*2', 'ZA*QS', 'SDQ*EA**0938*2', 'ZA*QS', 'SDQ*EA**0972*2', 'ZA*QS', 'SDQ*EA**0973*1', 'ZA*QS', 'SDQ*EA**0995*1', 'ZA*QS', 'SDQ*EA**0959*2', 'ZA*QS', 'SDQ*EA**0624*1', 'SE*89*0001', 'GE*1*8', 'IEA*1*000000029']

In [226]:
modified3 = []
for line in modified2:
    if line.__contains__('XQ'):
        modified3.append(line)
    elif line.__contains__('LIN'):
        modified3.append(line)
    elif line.__contains__('SDQ'):
        modified3.append(line)
    else:
        print(line)

ISA*00*          *00*          *12*6044358223FCD  *12*6474064717     *220430*2300*U*00401*000000029*0*P*>
GS*PD*6044358223FCD*6474064717*20220430*2300*8*X*004010
ST*852*0001
N1*DU*BESTBUY CANADA LTD.
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QU
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QU
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QU
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
ZA*QS
SE*89*0001
GE*1*8
IEA*1*000000029

In [227]:
print(modified3)

['XQ*H*20220424*20220430', 'LIN**BP*15569529*UP*840102700954*VP*NC04-0070', 'SDQ*EA**0900*3', 'LIN**BP*15662179*UP*840102703511*VP*NL45-0800WT120E26-3PK', 'SDQ*EA**0904*1', 'SDQ*EA**0977*1', 'SDQ*EA**0942*1', 'SDQ*EA**0900*1', 'SDQ*EA**0998*1', 'SDQ*EA**0669*1', 'SDQ*EA**0995*1', 'SDQ*EA**0938*2', 'SDQ*EA**0938*-2', 'SDQ*EA**0975*2', 'SDQ*EA**0982*1', 'SDQ*EA**0631*1', 'SDQ*EA**0926*1', 'SDQ*EA**0013*1', 'SDQ*EA**0946*1', 'SDQ*EA**0980*1', 'SDQ*EA**0705*1', 'SDQ*EA**0955*1', 'SDQ*EA**0909*1', 'SDQ*EA**0912*1', 'SDQ*EA**0741*-1', 'LIN**BP*15662180*UP*840102701517*VP*NL45-0800WT120E26', 'SDQ*EA**0912*1', 'SDQ*EA**0900*3', 'SDQ*EA**0749*1', 'SDQ*EA**0952*1', 'SDQ*EA**0948*2', 'SDQ*EA**0651*1', 'SDQ*EA**0979*-1', 'SDQ*EA**0933*2', 'SDQ*EA**0909*3', 'SDQ*EA**0631*2', 'SDQ*EA**0658*2', 'SDQ*EA**0961*2', 'SDQ*EA**0964*2', 'SDQ*EA**0938*2', 'SDQ*EA**0972*2', 'SDQ*EA**0973*1', 'SDQ*EA**0995*1', 'SDQ*EA**0959*2', 'SDQ*EA**0624*1']

In [228]:
characters = []
for word in modified3:
    if word not in characters:
        characters.append(word.split("*"))

edi2 = pd.DataFrame(characters)
edi2.columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [229]:
edi3 = edi2.fillna(0)
edi3.head(20)

      A   B         C         D   E             F   G                      H
0    XQ   H  20220424  20220430   0             0   0                      0
1   LIN            BP  15569529  UP  840102700954  VP              NC04-0070
2   SDQ  EA                0900   3             0   0                      0
3   LIN            BP  15662179  UP  840102703511  VP  NL45-0800WT120E26-3PK
4   SDQ  EA                0904   1             0   0                      0
5   SDQ  EA                0977   1             0   0                      0
6   SDQ  EA                0942   1             0   0                      0
7   SDQ  EA                0900   1             0   0                      0
8   SDQ  EA                0998   1             0   0                      0
9   SDQ  EA                0669   1             0   0                      0
10  SDQ  EA                0995   1             0   0                      0
11  SDQ  EA                0938   2             0   0                      0
12  SDQ  EA                0938  -2             0   0                      0
13  SDQ  EA                0975   2             0   0                      0
14  SDQ  EA                0982   1             0   0                      0
15  SDQ  EA                0631   1             0   0                      0
16  SDQ  EA                0926   1             0   0                      0
17  SDQ  EA                0013   1             0   0                      0
18  SDQ  EA                0946   1             0   0                      0
19  SDQ  EA                0980   1             0   0                      0

In [230]:
# copy down the values in "new_column" if "E" is empty
###df['new_column'] = df['E'].where(df['E'].str.len() > 0, df['V'].shift(1))

In [231]:

# Create a new column called SKU ID and initialize it to 0
edi3['SKU ID'] = 0

# Iterate over each row of the DataFrame
last_sku_id = 0
for i, row in edi3.iterrows():
    # Check if the value in column H is not null
    if pd.notnull(row['H']):
        # If it's not null, assign the value to the SKU ID column
        sku_id = row['H']
        edi3.at[i, 'SKU ID'] = sku_id
        last_sku_id = sku_id
    else:
        # If it's null, assign the last non-null SKU ID value to the current row
        edi3.at[i, 'SKU ID'] = last_sku_id

In [232]:
edi3['SKU ID'] = edi3['SKU ID'].astype(str)
edi3.replace({'SKU ID': {'0': np.nan}}, inplace=True)

In [233]:
edi3['SKU ID'].fillna(method='ffill', inplace=True)
edi3.fillna(0, inplace=True)

In [234]:
edi3.head()

,A,B,C,D,E,F,G,H,SKU ID
0,XQ,H,20220424,20220430,0,0,0,0,0
1,LIN,,BP,15569529,UP,840102700954,VP,NC04-0070,NC04-0070
2,SDQ,EA,,0900,3,0,0,0,NC04-0070
3,LIN,,BP,15662179,UP,840102703511,VP,NL45-0800WT120E26-3PK,NL45-0800WT120E26-3PK
4,SDQ,EA,,0904,1,0,0,0,NL45-0800WT120E26-3PK

In [235]:
# rename columns D and E
edi3.rename(columns={'D': 'Store ID', 'E': 'Quantity'}, inplace=True)

# fill missing values in SKU ID column
edi3['SKU ID'].fillna(method='ffill', inplace=True)

# replace "UP" values with NaN values in Quantity column
edi3['Quantity'].replace('UP', pd.np.nan, inplace=True)

# copy down the value in the first row of column C
if edi3.loc[edi3['C'] != '', 'C'].empty:
    edi3.loc[:, 'C'] = edi3.iloc[0]['C']
else:
    edi3.loc[edi3['C'] == '', 'C'] = edi3.loc[edi3['C'] != '', 'C'].iloc[0]

# forward-fill blank values in column C
edi3['C'].fillna(method='ffill', inplace=True)

# convert Quantity column to numeric type
edi3['Quantity'] = pd.to_numeric(edi3['Quantity'])

# create Quantity and Quantity Returned columns
edi3['Quantity'] = edi3['Quantity'].apply(lambda x: x if x >= 0 else 0)
edi3['Quantity Returned'] = edi3['Quantity'].apply(lambda x: abs(x) if x < 0 else 0)



# reorganize columns
edi3 = edi3[['Store ID', 'SKU ID', 'Quantity', 'Quantity Returned', 'A', 'B', 'C', 'F', 'G', 'H']]

C:\Users\Yasir\AppData\Local\Temp\ipykernel_4492\3092398686.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  edi3['Quantity'].replace('UP', pd.np.nan, inplace=True)

In [236]:
edi3.head(20)

,Store ID,SKU ID,Quantity,Quantity Returned,A,B,C,F,G,H
0,20220430,0,0.0,0,XQ,H,20220424,0,0,0
1,15569529,NC04-0070,0.0,0,LIN,,BP,840102700954,VP,NC04-0070
2,0900,NC04-0070,3.0,0,SDQ,EA,20220424,0,0,0
3,15662179,NL45-0800WT120E26-3PK,0.0,0,LIN,,BP,840102703511,VP,NL45-0800WT120E26-3PK
4,0904,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
5,0977,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
6,0942,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
7,0900,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
8,0998,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
9,0669,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
10,0995,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
11,0938,NL45-0800WT120E26-3PK,2.0,0,SDQ,EA,20220424,0,0,0
12,0938,NL45-0800WT120E26-3PK,0.0,0,SDQ,EA,20220424,0,0,0
13,0975,NL45-0800WT120E26-3PK,2.0,0,SDQ,EA,20220424,0,0,0
14,0982,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
15,0631,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
16,0926,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
17,0013,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
18,0946,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0
19,0980,NL45-0800WT120E26-3PK,1.0,0,SDQ,EA,20220424,0,0,0

In [237]:
replacement = { 'BP': edi3['C'].iloc[0] }
edi3['C'] = edi3['C'].replace(replacement)

# convert column C to datetime
edi3['C'] = pd.to_datetime(edi3['C'], format='%Y%m%d')

# add a new column with 6 days added to column C
edi3['Ending Date'] = edi3['C'] + pd.Timedelta(days=6)

# rename column C to Beginning Date
edi3.rename(columns={'C': 'Beginning Date'}, inplace=True)

# reorder the columns
edi3 = edi3.reindex(columns=['Beginning Date', 'Ending Date', 'Store ID','SKU ID', 'Quantity', 'Quantity Returned', 'A', 'B', 'F', 'G', 'H'])

In [238]:
edi4 = edi3[['Beginning Date', 'Ending Date', 'Store ID', 'SKU ID', 'Quantity', 'Quantity Returned']]

In [239]:
edi4.to_csv(file_name)